<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB_Y6oy5rPSeOdIHFY_SD4hSSAyq1z0Sw0</string>
	<key>GCM_SENDER_ID</key>
	<string>754684857723</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hojin.memo</string>
	<key>PROJECT_ID</key>
	<string>swift-ce99d</string>
	<key>STORAGE_BUCKET</key>
	<string>swift-ce99d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:754684857723:ios:2347b8acac242647a701de</string>
</dict>
</plist>